<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sparta.realm">

    <uses-permission android:name="android.permission.BLUETOOTH" />
<!--    android:name=".spartautils.app_control.SpartaApplication"-->
    <application
        android:allowBackup="true"

         android:label="@string/app_name"

         android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".Activities.PrintActivity"
            android:label="Realm Print"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="sparta.linga.PrintActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".spartautils.bluetooth.activities.DeviceControlActivity" />
        <activity android:name=".spartautils.bluetooth.activities.DeviceScanActivity" />
    </application>

</manifest>