<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sparta.realm">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
        android:allowBackup="true"
         android:label="@string/app_name"
        android:usesCleartextTraffic="true"
         android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        android:name=".spartautils.app_control.SpartaApplication"-->
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".Activities.PrintActivity"
            android:label="Realm Print"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="sparta.linga.PrintActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".spartautils.bluetooth.activities.DeviceControlActivity" />
        <activity android:name=".spartautils.bluetooth.activities.DeviceScanActivity" />
        <activity android:name=".Activities.SpartaAppCompactFingerPrintGateActivity" />
        <activity android:name=".Activities.SpartaFaceCamera" />
        <activity android:name=".spartautils.biometrics.face.SpartaFaceCamera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".spartautils.NFC.NfcProbe" />

        <service
            android:name=".spartautils.app_control.services.App_updates"
            android:enabled="true"
            android:exported="true"
            android:process=":.app_update" />
        <service
            android:name=".realmclient.RealmClientService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":.RealmService" >
            <intent-filter>
                <action android:name="sparta.realm.RealmClientInterface" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>